<h2> Página de atualização de imóveis </h2>

<%= render 'form', property: @property %>

<!-- Forma mais 'completa' de chamar um partial view
<%= render partial: 'form', locals: {property: @property} %>
-->

